.copyright{
    color: rgb(142, 142, 143);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    align-self: center;
    margin-top: 50px;

}

.copyright  ul{
    list-style: none;
}


.copyright  ul  li{
   margin-top: 10px;
}
.footerBottom{
    color: rgb(142, 142, 143);
   margin-top: 50px;
   width: 900px;
   align-self: center;

}

.footerBottom  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-top: 80px;
}

.input_plus_btn{
    background-color: white;
    padding: 0px;
    display: flex;
    flex-direction: row;


}
.input_plus_btn input{
   border: none;

}


